.footer {
  text-align: left;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 30px;
}
.ul-style li a {
  text-decoration: none;
  list-style: none;
  color: white;
}

@media only screen and (max-width: 688px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
